In [ ]:
#Q.1.explain the key features of Python that make it a popular choice for programming?

#ans. Python is ease of learning.
#     it is widely used in industries.
#    it has a lot of libraries.
#    it has huge active community etc.
     
#     that's why
#     it is very popular language among the developers now.

In [ ]:
#Q.2. Describe the role of predefined keywords in Python and provide examples of how they are used in a
#program?

#ans. keywords are predefined words that hold a special meaning and have specific purpose. 
#    keywords are used to define the syntax of the coding.
#   the keywords can not be used as an identifier,function or variable name
     
#     examples are:
#    break:  break is used to terminate an active loop.
#    if and else are used in conditional statements 
#    continue : this keywor skips the current iteration of a loop and proceeds to the next one.

In [ ]:
#Q.3.Compare and contrast mutable and immutable objects in Python with examples

#ANS. The most immortant difference between mutable and immutable objects is that mutable objects can be modified after their creation but the immutable objects can not be modified after their creation.

#examples of mutable objets are sets, list, dictionary
#xamples of immutable objects are tuples , string.

In [ ]:
#Q.4 Discuss the different types of operators in Python and provide examples of how they are used

#Ans. operators are of many types: Arithmatic operator  (+  -  *  /  %  **)
#                                 comparison operator  ( ==, !=, <, >, <=, >= )
#                                 logical operator  (and, or , not)
#                                  bitwise operators  (& ,|, ~, ^, <<, >>)
#                                 assignment opertors  (=, +=, -=, *=, /=)
#                                 membership operators 
#                                 identity operators

In [3]:
# this is arithmatic example
a = 3
b = 5

In [4]:
a+b

8

In [5]:
# this is comparison opertors
2==2

True

In [6]:
5!=2

True

In [8]:
#this is logical opertors
True and True

True

In [9]:
True-False

1

In [ ]:
#Q.5. explain the concept of type casting in Python with examples

#Ans. the process of changing the data type of a value/ objects in python is known as type casting
#    Type Casting is often necessary for performing arithmatic op. ,data manipulation and input/ output op. in python program.
    
#    examples of type casting is

In [10]:
"2"+3

TypeError: can only concatenate str (not "int") to str

In [ ]:
#we have to convert str to int first

In [15]:
type ("2")

str

In [17]:
print(type (int ("2")))

<class 'int'>

In [18]:
type (2)

int

In [ ]:
#we can convert float to integers
#we can convert integers to float
#and so on..

In [ ]:
#Q.6. How do conditional statements work in Python? Illustrate with examples

#Ans. conditional statements are statements in python that provide a choice for the control flow based on a condition,
#it helps to code decision based on some preconditions 

#examples are : if, if else, if elif,nested if else

In [20]:
#if statement
a = 100
if a > 0:
    print ( "a is greater than 0")

a is greater than 0

In [21]:
#if else statement
weather = "rainy"
if weather == "sunny":
    print (" i will enjoying outside")
else :
    print ("i have to stay in room")

i have to stay in room

In [22]:
#nested if else
x = 1
y = 6
if x >5:
    if y >5:
        print ("x and y are greater than 5")
    else:
        print ("x is greater than 5 but y is less than 5")
else:
    print ("x is not greater than 5")

x is not greater than 5

In [ ]:
#Q.7. Describe the different types of loops in Python and their use cases with examples.

#Ans. loop statements allows you to execute a block of code repeatedly.
 #    loops are of two types : 1.while loop, 2. for loop

In [ ]:
# while loop : it is repeatedly executed a block of code untill a condition is false.

In [23]:
n=7
i=1
while i<n:
    print (i)
    i= i+1

1
2
3
4
5
6

In [ ]:
#for loop : it is iterate over a sequence of elements

In [24]:
for i in "data science":
    print (i)

d
a
t
a

s
c
i
e
n
c
e

In [25]:
#break statement in for loop
l=  [1, 2,"name","ram"]

In [26]:
for i in l:
    if i == "name":
        break
    print (i)
else:
    print (" this is a list")

1
2

In [27]:
#continue statement
for i in l:
    if i == "name":
        continue
    print (i)
else :
    print ("this is a list")

1
2
this is a list